*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}


.container {
    width: 95%;
    margin: 0 auto;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(20, 61, 97), rgb(2, 22, 38));
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}


/* nav Bar */

header h4 {
    float: left;
    font-size: 1.6rem;
    padding-top: 20px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}


/* Splash Screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.splash-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.splash{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    background-color: #161616;
}

.splash.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


/* Computer Screen Animation */

.computer {
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color: black;
    margin: auto auto;
    background-color: white;
    width: 70%;
    height: 600px;
}