*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.intro-page {
    background-color: #3f3851;
}


.container {
    width: 95%;
    margin: 0 auto;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    color: #3f3851;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    height: 100%;
    background-color: #3f3851;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}


/* Game Formatting */

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1152px;
    height: 704px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 90%;
    height: auto;
    transform: translate(5%, 5%); */
    /* border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color: #7D6F51; */
    /* margin: auto auto; */
}


/* nav Bar */

header h4 {
    color: #fbca97;
    float: left;
    font-size: 2rem;
    padding-top: 20px;
    padding-left: 30px;
}

nav {
    float: right;
    padding-right: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    padding-right: 30px;

    position: relative;
}

nav a {
    font-size: 1.2rem;
    color: #fbca97;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fbca97;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 80%;
}


/* Splash Screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}